<section>
  <form class="form" *ngIf="loading == true; else noneUsers" [formGroup]="formulario">
    <main>
      <label>Email: </label>
      <input type="text"  id="email" [(ngModel)] = 'user.username' formControlName="username">
      <label>Nome: </label>
      <input type="text"  id="name" [(ngModel)] = 'user.first_name' formControlName="first_name">
      <label>Sobrenome: </label>
      <input type="text"  id="lastName" [(ngModel)] = 'user.last_name' formControlName="last_name">
      <label>Tipo Sanguíneo: </label>
      <input type="text"  [(ngModel)] = 'user.blood_type' formControlName="blood_type">
      <label>Estado: </label>
      <select [(ngModel)] = 'user.state' formControlName="state" (change)="onStateChange()">
        <option *ngFor="let estado of estados" [value]="estado.sigla">
          {{estado.sigla}}
        </option>
      </select>
      <label>Cidade: </label>
      <select [(ngModel)] = 'user.city' formControlName="city">
        <option *ngFor="let cidade of cidades" [value]="cidade.nome">
          {{cidade.nome}}
        </option>
      </select>
    </main>
    <footer>
      <div class="buttons">
        <button>CANCELAR</button>
        <button (click)="updateUser()">SALVAR</button>
      </div>
      <ng-template #message>
          <h1 class="message">
            {{message}}
          </h1>
      </ng-template>
    </footer>
  </form>
  <ng-template #noneUsers >
    <div class="grid-none-users">
      <img src="../../../assets/Blood donation-rafiki.png" alt="Carregamento">
      <div class="noneUsers">
        <h1>Procurando pelo usuário selecionado ...</h1>
      </div>
      <div class="c-loader"></div>
    </div>
  </ng-template>
</section>
