<app-board-admin></app-board-admin>
<div class="header" *ngIf="HospitalList.length > 0">
  <input type="textarea" placeholder="Busque aqui">
  <button (click)="navigateToNewHospital()">Adicionar</button>
</div>
<section>
  <div class="hospitals" *ngIf="HospitalList.length > 0; else noneHospitals">
    <div *ngFor="let i of HospitalList">
      <app-hospital [hospital]="i"></app-hospital>
    </div>
  </div>
  <ng-template #noneHospitals >
    <div class="grid-none-hospital">
      <img src="../../../assets/Hospital building-amico.png" alt="">
      <div class="noneHospitals">
        <h1>Procurando por hospitais cadastrados ...</h1>
      </div>
      <div class="c-loader"></div>
    </div>
  </ng-template>
</section>
