.board-section{
  background-color: var(--global-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .link{
    cursor: pointer;
    font-family: var(--global-font);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: white;
    padding: 5px;
    position: relative; /* Adicionado para posicionar o pseudo-elemento */

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px; /* Ajuste para compensar a borda do elemento */
      width: 0;
      height: 2px; /* Ajuste para a espessura da borda */
      background-color: white;
      transition: width 0.3s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }
}
