<section class="board-section">
  <div class="menu">
    <a class="link" (click)="navigateToBoard()">
      <img src="../../../assets/icons8-board-24.png" alt="Board">
      Board
    </a>
    <a class="link" (click)="navigateToUsers()">
      <img src="../../../assets/icons8-convidado-masculino-24.png" alt="Accounts">
      Users
    </a>
    <a class="link" (click)="navigateToHospitals()">
      <img src="../../../assets/icons8-hospital-24.png" alt="Hospitals">
      Hospitals
    </a>
  </div>
  <div class="logout">
    <a class="link" (click)="logout()">
      <img src="../../../assets/icons8-x-24.png" alt="logout">
      Sair
    </a>
  </div>
</section>
