<section>
  <header>
   <img src="../../../assets/Blood donation-cuate.png" alt="Donation Image">
  </header>
  <form class="form" [formGroup]="Login">
    <input type="text" formControlName="login" id="login" placeholder="Login" [(ngModel)]="username">
    <input type="password" formControlName="password" id="pwd" placeholder="Password" [(ngModel)]="password">
    <button class="buttonSigIn" id="button"
    [disabled]="!Login.valid"
    (click)="AuthenticationMethod()"
    >Sign In</button>
  </form>
</section>
